.dashboard2-container{
    color: black;
    margin-top: 8vh;
    background-color: #EDF0F2;
    padding-top: 0vh;
}

.top-heading{
    background-color: #FEFEFE;
    padding: 1% 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: start;
    align-items: normal;
}

.top-heading img{
    width: 50px;
    height: 50px;
    margin-left: 4vw;

}

/* .top-heading h1{
    margin-left: 6vw;
} */

.below-heading{
    margin: 4% 4vw;
    background-color: transparent;
}

.dashboard2-overview{
    background-color: transparent;
    box-shadow: none;
    margin-top: 5%;
}

.dashboard-navigation{
    width: 100%;
    max-width: 95vw;
    margin: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dashboard-navigation button{
    padding: 6px;
    border: 2px solid rgba(2, 2, 53, 0.4);
    border-radius: 30px;
    background: white;
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease;
}

.dashboard-navigation button:hover{
    border: 2px solid rgb(2, 2, 53);
}

.analysis-count{
    margin-top: 0%;
}

.analysis-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 4% 0px;
    width: 100%;

}

.ana-div{
    height: 220px;
    width: 240px;
    border-radius: 15px;
    padding: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2C5289;
    color: whitesmoke;
}

.ana-div .ana-underline{
    height: 4%;
    width: 70%;
    border: 0px solid blue;
    border-radius: 10px;
    background-color: rgb(20, 219, 153);
}

/* //////// */

.acc-analysis-count{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.acc-ana-count{
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    padding: 4% 0px;
    border-radius: 15px;
}