.dashboard2-container{
    color: black;
    margin-top: 8vh;
    background-color: #EDF0F2;
}

.below-heading{
    margin: 2% 10vw;
    background-color: transparent;
}

.dashboard-overview{
    background-color: transparent;
    box-shadow: none;
}

.dashboard-navigation{
    min-width: 40vw;
    max-width: 90vw;
    margin: auto;
    /* background-color: rgb(219, 228, 219); */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.25%;
    border-radius: 15px;
}

.dashboard-navigation button{
    padding: 10px;
    /* background-color: red; */
    border: 2px solid rgb(2, 2, 53, 0.4);
    border-radius: 30px;
}

.dashboard-navigation button:hover{
    border: 2px solid rgb(2, 2, 53);
}

.dashboard-overview{
    margin-top: 10%;
}

.analysis-count{
    margin-top: 5%;
}

.analysis-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ana-div{
    height: 220px;
    width: 200px;
    /* background-color: red; */
    /* border: 2px solid blueviolet; */
    border-radius: 15px;
    padding: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2C5289;
    color: whitesmoke;
}

.ana-div .ana-underline{
    height: 4%;
    width: 70%;
    border: 0px solid blue;
    border-radius: 10px;
    background-color: rgb(20, 219, 153);
}
