# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.pdb

# ASP.NET
App_Data/
packages/

# Logs
*.log

# Temporary files
*~
*.tmp
ZedCars.Net8/appsettings.json
ZedCars.Net8/appsettings.json
