.about-container {
  background-color: #0d0d0d;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  padding: 3rem 1rem;
  padding-top: 30px;
  font-family: "Inter", sans-serif;
}

.about-content {
  max-width: 1200px;
  width: 100%;
  /* background: #141414; */
  border-radius: 12px;
  padding: 3rem;
  box-shadow: 0 4px 20px rgba(255, 0, 0, 0.05);
}

.about-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0.5rem;
  text-align: center;
}
.about-title span{
  color: #e63939;

}

.about-subtitle {
  text-align: center;
  color: #b3b3b3;
  margin-bottom: 2rem;
  line-height: 1.6;
  font-size: 1.1rem;
}

.about-section {
  margin-bottom: 2.5rem;
}

.about-section h2 {
  font-size: 1.4rem;
  color: #e63939;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.about-section p {
  color: #dcdcdc;
  line-height: 1.6;
}
.features ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-auto-rows: auto; /* auto height per row */
  gap: 1rem 2rem; /* row-gap column-gap */
}

.features li {
  margin: 0;
  color: #ccc;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background: #1a1a1a;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.features li:hover {
  background: #181818;
  transform: translateY(-3px);
  box-shadow: 0 0 8px rgba(229, 9, 20, 0.1);
}

.features i {
  color: #e63939; /* red accent */
  font-size: 1.2rem;
}

.about-highlights {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.highlight-item {
  flex: 1;
  min-width: 220px;
  text-align: center;
  background: #1a1a1a;
  padding: 1.5rem;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.highlight-item:hover {
  transform: translateY(-4px);
  background: #181818;
  box-shadow: 0 0 10px rgba(229, 9, 20, 0.1);
}

.highlight-item i {
  font-size: 2rem;
  color: #e63939;
  margin-bottom: 0.75rem;
  display: inline-block;
}

.highlight-item h4 {
  color: #fff;
  margin-bottom: 0.4rem;
}

.highlight-item p {
  color: #b3b3b3;
  font-size: 0.95rem;
}

/* Responsive */
@media (max-width: 768px) {
  .about-content {
    padding: 2rem;
  }

    .features ul {
    grid-template-columns: 1fr;
  }
  .about-highlights {
    flex-direction: column;
    align-items: center;
  }

  .highlight-item {
    width: 100%;
    max-width: 350px;
  }
}
