/* .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
} */

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
